.menu{
    position: absolute;
    top: 60px;
    left: -400px;
    padding: 50px;
    width: 250px;
    background: white;
    box-shadow: inherit;
    transition: left 0.5s ease;
    
}
.active{
    
}